body {
    font-family: Tahoma;
    color: #000000;
    margin: 0;
}

header {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    width: 100%;
}

a {
    cursor: pointer;
    border: 1px solid #C0C0C0;
	display: inline-block;
    cursor: pointer;
    margin-bottom: -1px;
    font-size: 14px;
    color: #000000;
    background:#F5F5F5;
    padding: 5px;
    width: 120px;
    margin: 5px;
    text-decoration: none; 
}

a:hover {
    background: #A9A9A9;
}

form {
    float: right;
}

.topblock {
    font-size: 12px;
    background-color: #F5F5F5;
    border: 1px solid #C0C0C0;
	float: left;
    display: inline;
    width: 100%
}

.container {
    width: 100%;
    display: inline-block;
    font-size: 22px;
    margin-left: 5%;
}

.box_1, .box_2 {
    white-space: nowrap;
    display: inline-block;
}

.box_1 div, .box_2 div {
    width: 500px;
    display: inline-block;
}


#forecast_container {
    margin-left: 5px;
    
}

.forecast-column {
    float: left;
    margin-right: 60px;
}

footer {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    color: #000000;
    width: 100%;
    font-size: 12px;
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    height: 10px;
}
.graph {
    border-bottom:solid 1px #000000;
    margin-left: 60px;
}

.graph_container {
    margin-top: 70px;
}

.item2 {
    background-color: rgb(134, 134, 134);
    justify-content: space-between;
    height: 50px;
    width: 10px;
    margin-right: 160px;
    display: block;
    float: left;
}

.item1 {
    height: 50px;
    width: 10px;
    margin-right: 160px;
    background-color: rgb(134, 134, 134);
    justify-content: space-between;
    display: block;
    float: left;
}

.item3 {
    background-color: rgb(134, 134, 134);
    justify-content: space-between;
    height: 20px;
    width: 10px;
    margin-right: 160px;
    display: block;
    float: left;
}

.item4 {
    margin-right: 160px;
    background-color: rgb(134, 134, 134);
    justify-content: space-between;
    height: 30px;
    width: 10px;
    display: block;
    float: left;
}

.graph_numbers {
    display: block;
    margin-right: 146px;
    justify-content: space-between;
}

.empty {
    height: 110px;
}

table {
    width: 100%;
    text-align: center;
    height: 300px;
}

td {
    width: 5%;
}

.gray {
    background:#C0C0C0;
}

/*5days страница*/
.weather_general {
	width: 1200px;
	height: 350px;
    left: 100px;
    margin-left: 150px;
	top: 15px;
}

.five_dates {
	float: left;
    width: 1200px;
	top: 7px;
    height: 40px;
    margin-bottom: -9px;
}

.date {
	float: left;
    width: 200px;
    text-align: center;
    height: 30px;
	border: 1px solid;
}

.weathertable-weather{
	float: left;
	width: 1200px;
	height: 91px;
	top: -2px;
}

.daybox {
	float: left;
    width: 200px;
    border-right: 1px solid;
	height: 100px;
	border-left: 1px solid;
    border-top: 1px solid;
}

.imgs_weather{
	float: left;
	width: 24px;
    height: 50px;
    margin-left: 3px;
	margin-right: 22px;
}
.daytime {
    font-size: 13px;
    float: left;
    margin-right: 24px;
    margin-left: 5px;
}

.weathertable-weather-temperature{
	float: left;
	width: 1200px;
	height: 30px;
}
.weathertable-weather-temperature-box {
	float: left;
    width: 200px;
	border-left: 1px solid;
	border-right: 1px solid;
	height: 30px;
	top: -1px;
}
.wind {
	
	float: left;
	width: 25px;
	height: 15px;
    border: 1px solid;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 20px;
}
    
.weathertable-middleline {
    float: left;
    background-color: silver;
    width: 1008px;
    height: 25px;
    border: 1px solid;
    top:-1px;
    text-align: center;
}

.weathertable-middleline-row {
    
    float: left;
    width: 1200px;
    height: 25px;
    top:5px;
    text-align: center;
    margin-top: 5px;
    left: -1px;
}

.weathertable-middleline-row-box {
    
    float: left;
    width: 200px;
    height: 30px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid; 
}

.weathertable-middleline-row-box-value {
    float: left;
    width: 18px;
    height: 15px;
    background-color:  #DCDCDC;
    border: 1px solid;
    margin-right: 6px;
    margin-top: 2px;	
}

.weathertable-middleline-2 {
    float: left;
    background-color: silver;
    width: 1008px;
    height: 25px;
    border: 1px solid;
    top: 27px;
    margin-top: 28px;
    text-align: center;
}

.weathertable-rainfall {
    margin-top: -8px;
    float: left;
    width: 1200px;
    height: 61px;
    top: 30px;	
}

.rainfall_info {
    float: left;
    width: 200px;
    height: 60px;
    top: 8px;
    margin-top: 7px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.rainfall {
    float: left;
    width: 30px;
    height: 22px;
    top: 38px;
    left: 1px;
    padding-left: 2px;
}
    
.weathertable-water {
    float: left;
    width: 1200px;
    height: 14px;
}

.middle {
    float: left;
    width: 1008px;
    height: 30px;
    background-color: silver;
    left: 45px;
    margin-top: 50px;
    margin-left: 150px;
}

.two_sections {
	float: left;
	width: 1200px;
	height: 180px;
    left: 45px;
    margin-left: 150px;
}

.left_side {
	float: left;
	width: 255px;
	height: 180px;
}

.Left_side_image {
	float: left;
	width: 100px;
	height: 105px;
}

.right_side {
	float: right;
	width: 300px;
	height: 180px;
}

.right_side_image {
	float: left;
	width: 100px;
	height: 105px;
}

.left_text {
	float: left;
	width: 155px;
    height: 105px;
}

.right_text {
	float: left;
	width: 155px;
	height: 105px;
}

.left_sentence {
	float: left;
	width: 400px;
	height: 75px;
}

.right_sentence {
	float: left;
	width: 400px;
	height: 75px;
}

.weathertable-temperature-box-value-smalltext{
	font-size: 10px;
}