.body {
    font-family: Tahoma, sans-serif;
    color: #000000;
    margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .index-page-wrapper {
        width: 768px;
    }
	.body {
		font-size: 0.8em;
		line-height: 27px;
	}
	.header {
		height: 400px;
	}
    .index-page-wrapper {
        width: 768px;
    }
	nav a {
		margin: 5px 3px 0 0;
	}
	nav a {
		margin-left: 1px;
	}
	.main-info {
		width: 83%;
	}
	span {
		margin: 10px 0 0;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .index-page-wrapper {
        width: 480px;
    }
	.body {
		font-size: 0.8em;
		line-height: 25px;
	}
	.header {
		font-weight: bold;
		height: 280px;
	}
	.header p {
		font-weight: normal;
	}
	nav a {
		font-size: 0.75em;
		margin: 5px 3px 0 0;
	}
	.second-header {
		top: 100px;
		right: 30px;
	}
	.main-info {
		width: 92%;
	}
	span {
		margin: 0;
		padding: 15px 0 10px 50px;
	}
}

.header {
    background: #DCDCDC;
    border-top: 1px solid #C0C0C0;
    height: 80px;
    width: 100%;
}

.header__page-navigation__button {
    cursor: pointer;
    border: 1px solid #C0C0C0;
	display: inline-flex;
    margin-bottom: -1px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    background:#F5F5F5;
    padding: 5px 15px;
    margin: 5px;
    margin-left: 15px;
    text-decoration: none; 
}

.header__page-navigation__button:hover {
    background: #A9A9A9;
}

.second-header {
    font-size: 12px;
    width: 1329px;
    overflow: hidden;
    padding: 1px 20px 1px 15px;
    background-color: #F5F5F5;
    border: 1px solid #C0C0C0;
    display: inline-flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.second-header__searchbar {
    width: 40%;
    display: inline-flex;
}

.second-header__searchbar input#search {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.second-header__searchbar__form input[type="search"] {
    background: #e4e4e4;
    opacity: 0.5;
    outline: none;
    border: 1px #bdbdbd solid;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    padding-left: 26px;
    left: -1.8em;
    position: relative;
}

.second-header__searchbar__form p {
    color: #555555;
  }

.second-header__searchbar__form input#search::-webkit-input-placeholder {
    color: #65737e;
}

.second-header__searchbar__form input[type="search"]:-ms-input-placeholder {
    color: #BCBCBC;
}
  
.second-header__searchbar__form input[type="search"]::-ms-input-placeholder {
    color: #BCBCBC;
}
  
.second-header__searchbar__form input[type="search"]::placeholder {
    color: #BCBCBC;
}
  
.second-header__searchbar__form input[type="search"]:active, .second-header__searchbar__form input[type="search"]:focus {
    background-color: #f7f7f7;
}

.index-page-wrapper {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    width: 1010px;
    margin: auto;
    display: block;
    top: 25px;
}

.main-info {
    display: inline-block;
    margin-left: 5%;
}

.main-info__city-and-weather, .main-info__sun-and-navigation {
    white-space: nowrap;
    display: inline-block;
}

.main-info__city-and-weather div, .main-info__sun-and-navigation div {
    width: 500px;
    display: inline-block;
}

.main-info__sun-and-navigation__degree {
    font-size: 36px;
    margin-left: 20px;
}

.main-info__city-and-weather {
   text-align: left;
   font-size: 24px;

}


/*p {
    text-align: center;
}*/

#detailed-forecast {
    justify-content: space-around;
    margin-left: 55px;
}

.detailed-forecast__column {
    float: left;
    margin-right: 62px;
    text-align: center;
}

.footer {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    color: #000000;
    width: 100%;
    font-size: 12px;
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    height: 10px;
}

.graph {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    border-bottom:solid 1px #000000;
}

/*.graph_numbers {
    display: inline-flex;
    margin-right: 146px;
   justify-content: space-between;
}*/

.graph_column2 {
    background-color: rgb(134, 134, 134);
    justify-content: space-between;
    height: 50px;
    width: 10px;
  /*  margin-right: 60px;*/
    display: block;
   /* align-items: flex-end;*/
}
.graph_column1 {
    height: 50px;
    width: 10px;
  /*  margin-right: 60px;*/
    background-color: rgb(134, 134, 134);
 /*   justify-content: space-between;*/
    display: block;
  /*  align-items: flex-end;*/
}
.graph_column3 {
    background-color: rgb(134, 134, 134);
   /* justify-content: space-between;*/
    height: 20px;
    width: 10px;
 /*   margin-right: 160px;*/
    display:block;
    /*align-items: flex-end;*/
}
.graph_column4 {
    
   /* margin-right: 160px;*/
    background-color: rgb(134, 134, 134);
  /*  justify-content: space-between;*/
    height: 30px;
    width: 10px;
    display: block;
   /* align-items: flex-end;*/
}

.weather-history {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    height: 300px;
}

.weather-history__gray {
    background:#C0C0C0;
}

/*======5days страница======*/

.second-header__temperature {
   margin-left: -600px;
}

.fivedays-table {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    width: 1010px;
    margin: auto;
    display: block;
    top: 25px;
    padding: 0;
}

.fivedays-table__row {
	position: relative;
    display: block;
    width: 1010px;
    height: 35px;
    margin-left: 2px;
}

.fivedays-table__row__date {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 33px;
    width: 200px;
    margin: -3px;
    border: 1px solid #C0C0C0;
}

.fivedays-table__weekdays {
	position: relative;
	display: inline-block;
	width: 1010px;
    top: -2px;
}

.fivedays-table__weekdays__everyday {
    display: inline-flex;
    justify-content: space-around;
    width: 200px;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    height: 85px;
    margin: -5px;
    margin-left: -1px;
    margin-top: -14px;
}

.fivedays-table__weekdays__everyday__image {
	width: 24px;
    height: 50px;
    margin-left: 3px;
	margin-right: 22px;
}

.fivedays-table__weekdays__everyday__daytime {
    font-size: 14px;
    display: inline-block;
    justify-content: space-between;
    margin-right: 24px;
}

.fivedays-table__temperature__everyday__degrees__green,
.fivedays-table__temperature__everyday__degrees__yellow,
.fivedays-table__temperature__everyday__degrees__orange {
    font-size: 14px;
    display: inline-block;
    border: 1px solid #C0C0C0;
    width: 35px;
    text-align: center;
    margin-left: 6px;
    justify-content: space-around;
}

.fivedays-table__temperature__everyday__degrees__green {
    background-color: #b9e88b;
}
.fivedays-table__temperature__everyday__degrees__yellow {
    background-color: #f7e53b;
}
.fivedays-table__temperature__everyday__degrees__orange {
    background-color: #f3a536;
}

.fivedays-table__temperature {
    float: left;
    width: 1010px;
    height: 30px;
    padding-bottom: 3px;
    margin-left: -1px;
    border-left: 1px solid #C0C0C0;
}

.fivedays-table__temperature__everyday {
    position: relative;
    float: left;
    border-right: 1px solid #C0C0C0;
    width: 200px;
	height: 33px;
    top: -1px;
}

.max-wind-speed__row__speednumber__value {
	position: relative;
	display: inline-block;
	width: 25px;
    height: 15px;
    background: #DCDCDC;
    text-align: center;
    font-size: 14px;
    justify-content: space-between;
    margin-left: 10px;
    left: -4px;
    margin-top: 10px;
    transform: skewX(-35deg);
}
    
.max-wind-speed {
    position: relative;
    display: block;
    background-color: #DCDCDC;
    border: 1px solid #C0C0C0;
    width: 1004px;
    height: 27px;
    top: 32px;
    margin-left: -1px;
    text-align: center;
    
}

.max-wind-speed__text {
    position: relative;
    top:-28px;
}

.max-wind-speed__row {
    position: relative;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    display: block;
    width: 1004px;
    height: 35px;
    top:-24px;
    text-align: center;
    left: -1px;
}

.max-wind-speed__row__speednumber {
    position: relative;
    border-right: 1px solid #C0C0C0;
   /* margin-left: 1px;*/
    float: left;
    width: 199px;
    height: 35px;
}

.rainfall {
    position: relative;
    display: block;
    background-color: #DCDCDC;
    border: 1px solid #C0C0C0;
    bottom: -66px;
    width: 1004px;
    height: 27px;
    margin-left: -1px;
    text-align: center;
}

.rainfall__row {
    position: relative;
    display: block;
    float:left;
    width: 1010px;
    height: 200px;
    top: 20px;	
}

.rainfall__row__everyday {
    position: relative;
    width: 200px;
    height: 115px;
    display: inline-flex;
    justify-content: space-around;
    top: 16px;
    left: -1px;
    margin-right: -6px;
    border: 1px solid #C0C0C0;
}

.rainfall__row__everyday__value {
    position: relative;
    float: left;
    width: 30px;
    height: 22px;
    top: 38px;
    padding-left: 2px;
}

.day-information { 
    position: relative;
    display: block;
    top: -30px;
    left: -1px;
    width: 994px;
    height: 40px;
    padding-left: 10px;
	line-height: 40px;
    border: 1px solid #C0C0C0;
    background-color: #F5F5F5;
}

.day-information__sun-moon-title {
    margin-left: 250px;
}

.sun-and-moon-information {
    width:1200px;
	height: 260px;
    left: 45px;
}

.sun-and-moon-information__sun {
	display: inline-block;
    width: 540px;
    height: 300px;
}

.sun-and-moon-information__moon {
	display: inline-block;
    width: 497px;
    height: 300px;
    vertical-align: top;
}

.sun-and-moon-information__sun__info {
    display: inline-block;
	width: 220px;
    height: 205px;
    line-height: 30px;
}

.sun-and-moon-information__sun__img {
	display: inline-block;
    height: 160px;
}

.sun-and-moon-information__moon__img {
	display: inline-block;
    height: 160px;
}

.sun-and-moon-information__moon__info {
    display: inline-block;
	width: 190px;
    height: 205px;
    line-height: 30px;
}

.sun-and-moon-information__moon__fullmoon {
    display: inline-block;
	width: 500px;
    height: 75px;
    vertical-align: top;
}

.sun-and-moon-information__sun__daylength {
    display: inline-block;
	width: 500px;
    height: 75px;
}